USE [master]
GO
/****** Объект:  Database [internetshopDB]    Дата создания скрипта: 30.06.2026 2:32:14 ******/ 
CREATE DATABASE [internetshopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'internetshopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\internetshopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'internetshopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\internetshopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [internetshopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [internetshopDB]
GO
/****** Объект:  Table [dbo].[order]    Дата создания скрипта: 30.06.2026 2:32:15 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_date] [date] NULL,
	[status] [nvarchar](50) NULL,
	[total_amount] [int] NOT NULL,
 CONSTRAINT [PK__orders__465962298B02C168] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[order_item]    Дата создания скрипта: 30.06.2026 2:32:15 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price_at_purchase] [int] NOT NULL,
 CONSTRAINT [PK__order_it__3764B6BCB4647C73] PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[product]    Дата создания скрипта: 30.06.2026 2:32:15 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[price] [int] NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__products__47027DF5BFD62FC4] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[review]    Дата создания скрипта: 30.06.2026 2:32:15 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
	[review_text] [nvarchar](max) NOT NULL,
	[created_at] [date] NULL,
 CONSTRAINT [PK__reviews__60883D90A4745E95] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[user]    Дата создания скрипта: 30.06.2026 2:32:15 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[familiya] [nvarchar](50) NOT NULL,
	[imya] [nvarchar](50) NOT NULL,
	[otchestvo] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__users__B9BE370F097896EE] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [user_id], [order_date], [status], [total_amount]) VALUES (1, 2, CAST(N'2026-06-25' AS Date), N'Доставлен', 75000)
INSERT [dbo].[order] ([order_id], [user_id], [order_date], [status], [total_amount]) VALUES (2, 3, CAST(N'2026-06-28' AS Date), N'Отправлен', 120000)
INSERT [dbo].[order] ([order_id], [user_id], [order_date], [status], [total_amount]) VALUES (3, 4, CAST(N'2026-06-30' AS Date), N'В обработке', 39000)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [quantity], [price_at_purchase]) VALUES (1, 1, 1, 1, 75000)
INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [quantity], [price_at_purchase]) VALUES (2, 2, 2, 1, 120000)
INSERT [dbo].[order_item] ([order_item_id], [order_id], [product_id], [quantity], [price_at_purchase]) VALUES (3, 3, 8, 1, 9000)
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [title], [price], [stock_quantity], [category_name]) VALUES (1, N'Смартфон Samsung Galaxy S23', 75000, 15, N'Смартфоны')
INSERT [dbo].[product] ([product_id], [title], [price], [stock_quantity], [category_name]) VALUES (2, N'Ноутбук Apple MacBook Air M2', 120000, 5, N'Ноутбуки')
INSERT [dbo].[product] ([product_id], [title], [price], [stock_quantity], [category_name]) VALUES (3, N'Наушники Sony WH-1000XM5', 30000, 20, N'Аудио')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([review_id], [product_id], [user_id], [review_text], [created_at]) VALUES (1, 1, 2, N'Отличный телефон, камера просто супер! Рекомендую.', CAST(N'2026-06-26' AS Date))
INSERT [dbo].[review] ([review_id], [product_id], [user_id], [review_text], [created_at]) VALUES (2, 2, 3, N'Ноутбук очень быстрый, заряд держит весь рабочий день.', CAST(N'2026-06-29' AS Date))
INSERT [dbo].[review] ([review_id], [product_id], [user_id], [review_text], [created_at]) VALUES (3, 6, 4, N'Мечтал об этой консоли, всё работает идеально.', CAST(N'2026-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [login], [password], [familiya], [imya], [otchestvo], [role]) VALUES (1, N'admin', N'admin', N'Пресняков', N'Артём', N'Станиславович', N'admin')
INSERT [dbo].[user] ([user_id], [login], [password], [familiya], [imya], [otchestvo], [role]) VALUES (2, N'client', N'client', N'Кудрявцев', N'Дмитрий', N'Игоревич', N'client')
INSERT [dbo].[user] ([user_id], [login], [password], [familiya], [imya], [otchestvo], [role]) VALUES (3, N'ivanov', N'1234', N'Иванов', N'Иван', N'Иванович', N'client')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__orders__order_da__5812160E]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF__orders__status__59063A47]  DEFAULT (N'В обработке') FOR [status]
GO
ALTER TABLE [dbo].[review] ADD  CONSTRAINT [DF__reviews__created__628FA481]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK__orders__user_id__571DF1D5] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK__orders__user_id__571DF1D5]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__order__5CD6CB2B] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK__order_ite__order__5CD6CB2B]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__produ__5DCAEF64] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK__order_ite__produ__5DCAEF64]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK__reviews__product__60A75C0F] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK__reviews__product__60A75C0F]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK__reviews__user_id__619B8048] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK__reviews__user_id__619B8048]
GO
USE [master]
GO
